
body {
	background: white;
	color: blue;
	width: 100%;
	margin: 0px auto;
	
}

/****************************************************************/
/********************** NAVIGATION SECTION **********************/
/****************************************************************/

.nav {
	border-bottom: 5px solid black;
}

.nav h1 {
	text-align: center;
	font-size: 36px;
	color: blue;
	font-weight: bold;
}

/****************************************************************/
/********************** MAIN PAGE SECTION ***********************/
/****************************************************************/

.mainPage {
	height: 525px;
	background: white url("images/countDraculaBackground.png") top center no-repeat;
}

.CountSpeak {
	position: relative;
	top: 95px;
	left: 680px;
	width: 310px;
	text-align: center;
}

.mainPage h1 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	white-space: pre; // This keeps the h1 spacing when nothing is printed to it
}

.Buttons {
	position: relative;
	top: 100px;
	left: 400px;
}

.form {
	width: 200px;
}

.form label, input {
	display: block;
	width: 180px;
	text-align: center;
}

.form label {
	color: red;
	font-weight: bold;
	
	font-size: 25px;
}

.mainPage input {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}



