
body {
	background: white;
	color: blue;
	width: 100%;
	margin: 0px auto;
	
}

/****************************************************************/
/********************** NAVIGATION SECTION **********************/
/****************************************************************/

.nav {
	border-bottom: 5px solid black;
}

.nav h1 {
	text-align: center;
	font-size: 36px;
	color: blue;
	font-weight: bold;
}

/****************************************************************/
/********************** MAIN PAGE SECTION ***********************/
/****************************************************************/

.mainPage {
	height: 525px;
	background: white url("images/countDraculaBackground.png") top center no-repeat;
}

.CountSpeak {
	position: relative;
	top: 95px;
	left: 680px;
	width: 310px;
	text-align: center;
}

.mainPage h1 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.mainPage form {
	position: relative;
	top: 100px;
	left: 400px;
}

.mainPage label, input {
	display: block;
	font-size: 28px;
}

.mainPage label {
	padding-left: 10px;
	color: red;
	font-weight: bold;
}

.mainPage input {
	width: 120px;
	text-align: center;
}

.mainPage input[type=submit]{
	height: 100px;
}


